In [2]:
import requests
import pandas as pd
from io import StringIO

In [3]:
URL = 'http://www.cmfchile.cl/institucional/estadisticas/ffm_download.php'

In [4]:
body = {'aa': '2019', 'mm': '07', 'cartera': 'NACI'}

In [5]:
s = requests.Session()
# requests without user-agent in headers are forbidden
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
resp = s.post(URL, data=body, headers=headers)

In [6]:
data = resp.content.decode('utf-8-sig')

In [7]:
df = pd.read_csv(StringIO(data), sep=';')

In [8]:
df.shape

(37156, 25)

In [11]:
df.rename(columns=columns_NACI, inplace=True)

In [12]:
df.head()

,run_fondo,nombre_fondo,nemotecnico,rut_emisor,digito_verificador_rut_emisor,pais_emisor,tipo_instrumento,fecha_vencimiento_instrumento,situacion_instrumento,clasificacion_riesgo,...,valor_relevante,codigo_valorizacion,base_tasa,tipo_interes,valorizacion_al_cierre_en_miles,codigo_moneda_valorizacion,codigo_pais_transaccion,porcentaje_capital_emisor,porcentaje_activos_emisor,porcentaje_activos_fondo
0,8011,VISION MONEY MARKET,FNEST-130919,97030000,7,CL,DPC,13/09/2019,1,N-1,...,NaN,1,30,NL,199201,$$,CL,0.0,0.0,0.189
1,8011,VISION MONEY MARKET,FNEST-140819,97030000,7,CL,DPC,14/08/2019,1,N-1,...,NaN,1,30,NL,699333,$$,CL,0.0,0.0,0.665
2,8011,VISION MONEY MARKET,FNEST-140819,97030000,7,CL,DPC,14/08/2019,1,N-1,...,NaN,1,30,NL,599454,$$,CL,0.0,0.0,0.570
3,8011,VISION MONEY MARKET,FNEST-190819,97030000,7,CL,DPC,19/08/2019,1,N-1,...,NaN,1,30,NL,798993,$$,CL,0.0,0.0,0.759
4,8011,VISION MONEY MARKET,FNEST-190819,97030000,7,CL,DPC,19/08/2019,1,N-1,...,NaN,1,30,NL,99874,$$,CL,0.0,0.0,0.095

In [76]:
df.iloc[77]

Run Fondo                          8773
Nombre Fondo       ESTRATEGIA CONSERVAD
FFM_6020100               VGT US EQUITY
FFM_6020200          VANGUARD INFO TECH
FFM_6020300                          US
FFM_6020400                        ETFA
FFM_6020500                         NaN
FFM_6020600                           1
FFM_6020700                         NaN
FFM_6020800                         NaN
FFM_6020900                         800
FFM_6021000                          CA
FFM_tir_6021111                     NaN
FFM_par_6021111                     NaN
FFM_rel_6021111                  153024
FFM_6021112                           3
FFM_6021113                           0
FFM_6021114                         NaN
FFM_6021200                      122419
FFM_6021300                        PROM
FFM_6021400                          US
FFM_6021511                           0
FFM_6021512                           0
FFM_6021513                       0.574
Name: 77, dtype: object

In [9]:
columns_EXTR = {
    'Run Fondo': 'run_fondo',
    'Nombre Fondo': 'nombre_fondo',
    'FFM_6020100': 'nemotecnico',
    'FFM_6020200': 'nombre_emisor',
    'FFM_6020300': 'pais_emisor',
    'FFM_6020400': 'tipo_instrumento',
    'FFM_6020500': 'fecha_vencimiento_instrumento',
    'FFM_6020600': 'situacion_instrumento',
    'FFM_6020700': 'clasificacion_riesgo',
    'FFM_6020800': 'codigo_grupo_empresarial',
    'FFM_6020900': 'cantidad_unidades',
    'FFM_6021000': 'tipo_unidades',
    'FFM_tir_6021111': 'TIR',
    'FFM_par_6021111': 'valor_par',
    'FFM_rel_6021111': 'valor_relevante',
    'FFM_6021112': 'codigo_valorizacion',
    'FFM_6021113': 'base_tasa',
    'FFM_6021114': 'tipo_interes',
    'FFM_6021200': 'valorizacion_al_cierre_en_miles',
    'FFM_6021300': 'codigo_moneda_valorizacion',
    'FFM_6021400': 'codigo_pais_transaccion',
    'FFM_6021511': 'porcentaje_capital_emisor',
    'FFM_6021512': 'porcentaje_activos_emisor',
    'FFM_6021513': 'porcentaje_activos_fondo'
}

In [10]:
columns_NACI = {
    'Run Fondo': 'run_fondo',
    'Nombre Fondo': 'nombre_fondo',
    'FFM_6010100': 'nemotecnico',
    'FFM_6010211': 'rut_emisor',
    'FFM_6010212': 'digito_verificador_rut_emisor',
    'FFM_6010300': 'pais_emisor',
    'FFM_6010400': 'tipo_instrumento',
    'FFM_6010500': 'fecha_vencimiento_instrumento',
    'FFM_6010600': 'situacion_instrumento',
    'FFM_6010700': 'clasificacion_riesgo',
    'FFM_6010800': 'codigo_grupo_empresarial',
    'FFM_6010900': 'cantidad_unidades',
    'FFM_6011000': 'tipo_unidades',
    'FFM_TIR_6011111': 'TIR',
    'FFM_PAR_6011111': 'valor_par',
    'FFM_REL_6011111': 'valor_relevante',
    'FFM_6011112': 'codigo_valorizacion',
    'FFM_6011113': 'base_tasa',
    'FFM_6011114': 'tipo_interes',
    'FFM_6011200': 'valorizacion_al_cierre_en_miles',
    'FFM_6011300': 'codigo_moneda_valorizacion',
    'FFM_6011400': 'codigo_pais_transaccion',
    'FFM_6011511': 'porcentaje_capital_emisor',
    'FFM_6011512': 'porcentaje_activos_emisor',
    'FFM_6011513': 'porcentaje_activos_fondo'
}